<div class="container">
  <h3 class="pt-3">My Lists</h3>

  <div class="d-flex p-2 bd-highlight flex-wrap">
  <% x = 0 %>
    <% @lists.each do |list| %>
      <% x += 1 %>
      <div class="card text-center p-2 m-3 bd-highlight" style="width: 12rem;">
        <div class="card-body">
          <%= link_to list_path(list), class:"card-title text-decoration-none" do %>
            <img src="https://picsum.photos/200/300?random=<%= x %>" alt="list poster" class="card-img-top">
            <%= list.name %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>