<div class="movie-info animate__animated animate__zoomIn">
  <h3>Add movie to <%= @list.name %> list</h3>
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.association :movie %>
    <%= f.submit "Add movie" %>
  <% end %> 
  <form>
    <input type="button" value="âª" onclick="history.back()" style="background-color: transparent; border: 0; font-size: 30px">
  </form>
</div>