// Specific CSS for your home-page

.card-category {
  background-size: cover;
  background-position: center;
  height: 250px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(214, 214, 214, 0.2);
  margin: 25px;
  transition: 0.2s all ease-in-out;
}

.list-cards .card-category {
  transform: translate3d(0, 0, 0) scale3d(0.9, 0.9, 1);
  transform-style: preserve-3d;
}

.list-cards:hover .card-category:hover {
  transform: translate3d(0,0,0) scale3d(1.03, 1.03, 1);
  transform-style: preserve-3d;
  box-shadow: 0px 3px 3px rgb(214,214,214);
  color: cadetblue;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.7);
}

.card-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
}