<div class="movie-info animate__animated animate__zoomIn">
  <h3><%= @movie.title %></h3>

  <div class="content">
    <div>
      <img src=<%= @movie.poster_url %> alt="movie poster" style="width: 280px; padding: 20px 20px;">
    </div>
    <div style="width: 40vw;">
      <p><%= @movie.overview %></p>
      <p class="fw-bold">Rating: <%= @movie.rating %></p>
    </div>
  </div>
</div>