<div class="container ctr-bordered">
  <div class="container mt-5 d-flex justify-content-center">
    <h3><%= @movie.title %></h3>
  </div>

  <div class="container mt-5">
    <div class="d-flex">
      <img src=<%= @movie.poster_url %> alt="movie poster" class="card-img-top" style="width: 12rem;">
      <div class="d-flex flex-column p-3 justify-content-center">
        <p><%= @movie.overview %></p>
        <p class="fw-bold">Rating: <%= @movie.rating %></p>
      </div>
    </div>
  </div>
</div>