// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "movie";
@import "flip";

.lists {
  padding-bottom: 15vh;
  width: 90vw;
  text-align: center;
  margin: 0 auto;
}
.list-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.lists h3 {
  color: #e0d2be;
  margin-top: 20px;
}

.lists h5 {
  color: #e0d2be;
  margin-top: 40px;
}