.movie-info {
  padding-bottom: 15vh;
  width: 90vw;
  text-align: center;
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.759);
  width: 80vw;
}

.movie-info h3 {
  margin-top: 30px;
}

.content {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}