.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
  background: transparent !important; 
}

.nav-link {
  color: #CD7640 !important;
}

.nav-link:hover {
  color: #d1c3ad !important;
}

.search-btn {
  background-color: transparent;
  border: 1px solid #ffe81f;
  color: #ffe81f !important;
  border-radius: 3px;
}

.search-btn:hover {
  background-color: #CD7640;
  border: 1px solid #CD7640;
  color: rgba(255, 255, 255, 0.759) !important;
}